div, header{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: aliceblue;
}

header{
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    position: relative;
}
.title{
    position: absolute;
    top: 5px;
    left: 30px;
}
.maker{
    position: absolute;
    bottom: 0;
    right: 2%;
    font-size: 16px;
}
#container{
    width: 90%;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.list{
    width: 100%;
    height: 60px; 
    border-bottom: 1px solid black;   
    position: relative;
}
.txt{
    position: absolute;
    left: 0;
    font-size: 25px;
    bottom: -20%;
}
.check{
    position: absolute;
    right: 0;
    bottom: 25%;
    zoom: 1.5;
    cursor: pointer;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    width: 30%;
    max-width: 200px;
    min-width: 100px;
    height: 5%;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2%;
    cursor: pointer;
}
button:hover{
    background-color: rgb(65, 65, 65);
}
