div, header{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: aliceblue;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

header{
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    position: relative;
}
.title{
    position: absolute;
    top: 5px;
    left: 30px;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
}
.line{
    width: 20%;
    min-width: 200px;
    height: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.seat{
    border: 2px solid black;
    width: 45%;
    height: 13%;
    position: relative;
    margin-bottom: 20px;
}
.t{
    /* border: 2px solid black; */
    width: 45%;
    height: 13%;
    /* display: none; */
}
.seat-check{
    zoom: 1.5;
    cursor: pointer;
}
.seat-number{
    width: 100%;
    /* border: 2px solid black; */
    /* border-radius: 5px; */
    border: 0;
    outline: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 65%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    margin-bottom: 5px;
}
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
/* .nav-bar{
    background-color: antiquewhite;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
} */
.fixed-frame{
    position: relative;
    width: 500px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    margin: auto;
}
.fixed-number{
    width: 15%;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(218, 236, 251);
    font-weight: bold;
}
.fixed-number:active{
    background-color: rgb(208, 214, 220);
}
.color-red{
    background-color: antiquewhite;
}
.mix{
    width: 150px;
    height: 50px;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    position: absolute;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
}
.mix:active{
    background-color: rgb(203, 203, 203);
}
